orun_project/electron/n8n-workflows/spotify-search.json
{
  "name": "Orun - Spotify Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spotify-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.spotify.com/v1/search?q={{ encodeURIComponent($json.body.query) }}&type={{ $json.body.types || 'track' }}&limit={{ $json.body.limit || 10 }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.accessToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-1",
      "name": "Spotify API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [470, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Spotify API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spotify API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "orun-spotify"
    }
  ]
}
